.Page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Container-main {
  display: flex;
  flex-direction: row;  
}
.Creating {
  position: absolute;
  width: 100%;
  height: 70%;
  margin-top: 5rem;

}

.Text {
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
  align-items: center;
  margin-left: 13rem;
}
.Top {
  font-family: 'Aboreto', cursive;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 1;

}
.Texto {
  width: 46%;
  font-family: 'Aboreto', cursive;
  text-align: justify;
  font-weight: 700;
  font-size: 2.4rem;
  color: rgb(255, 255, 255);

  margin-left: 0rem;
  margin-top: 2rem;
  z-index: 1;
}
.container-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 38rem;
  justify-content: center;
}
@media only screen and (max-width: 1400px) {
  .container-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 16rem;
    justify-content: center;
   }}
.Fotos01 {
  width: 300px;
  height: 150px;
  margin-right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  box-shadow: 0rem 0rem 1rem 0rem gray;
}
@media only screen and (max-width: 1400px) {
  .Fotos01 {
    width: 200px;
    height: 100px;
    margin-right: 3rem;
    z-index: 2;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    box-shadow: 0rem 0rem 1rem 0rem gray;
   }}
.Fotos02 {
  width: 300px;
  height: 150px;
  margin-right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  box-shadow: 0rem 0rem 1rem 0rem gray;
}
@media only screen and (max-width: 1400px) {
  .Fotos02 {
    width: 200px;
    height: 100px;
    margin-right: 3rem;
    z-index: 2;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    box-shadow: 0rem 0rem 1rem 0rem gray;
   }}
.Fotos03 {
  width: 300px;
  height: 150px;
  margin-right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  box-shadow: 0rem 0rem 1rem 0rem gray;
}
@media only screen and (max-width: 1400px) {
  .Fotos03 {
    width: 200px;
    height: 100px;
    margin-right: 3rem;
    z-index: 2;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    box-shadow: 0rem 0rem 1rem 0rem gray;
   }}
.Fotos04 {
  width: 300px;
  height: 150px;
  margin-right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  box-shadow: 0rem 0rem 1rem 0rem gray;
}
@media only screen and (max-width: 1400px) {
  .Fotos04 {
    width: 200px;
    height: 100px;
    margin-right: 3rem;
    z-index: 2;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    box-shadow: 0rem 0rem 1rem 0rem gray;
   }}
.Fotos05 {
  width: 300px;
  height: 150px;
  margin-right: 4rem;
  z-index: 2;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  box-shadow: 0rem 0rem 1rem 0rem gray;
}
@media only screen and (max-width: 1400px) {
  .Fotos05 {
    width: 200px;
    height: 100px;
    margin-right: 3rem;
    z-index: 2;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    box-shadow: 0rem 0rem 1rem 0rem gray;
   }}
